<ion-header>
  <ion-toolbar>
    <div slot="start" style="padding-left: 12px">{{curDate | dateView}}</div>
    <div slot="end" style="padding-right: 12px" (click)="confirm()">确定</div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-calendar-view (dateChange)="monthDateChangeHandler($event)"
                     (nzSelectChange)="monthDateChangeHandler($event)"
                     [isLoadData]="false"></app-calendar-view>
  <ion-item>
    <ion-label><ion-icon name="time"></ion-icon>设置时间</ion-label>
    <ion-datetime displayFormat="HH:mm" cancelText="取消" [(value)]="curTime"
                  (ionChange)="setDate($event, 'curTime')"
                  doneText="确定"></ion-datetime>
  </ion-item>
</ion-content>
