.ant-fullcalendar-selected-day{
  .ant-fullcalendar-value{
    border-radius: 50%;
    color: #fff;
    background: #1890ff;
  }
}
.ant-fullcalendar-fullscreen .ant-fullcalendar-month-panel-selected-cell .ant-fullcalendar-month, .ant-fullcalendar-fullscreen .ant-fullcalendar-selected-day .ant-fullcalendar-date{
  background: initial !important;
}
.ant-fullcalendar-value{
  height: 40px !important;
  line-height: 40px !important;
}
.ant-fullcalendar-fullscreen .ant-fullcalendar-date {
  display: block;
  height: 76px;
  margin: 0 4px;
  padding: 4px 0px;
  color: rgba(0, 0, 0, 0.65);
  text-align: left;
  //border-top: 2px solid #e8e8e8;
  border-top: none !important;
  transition: background 0.3s;
}
.ant-fullcalendar-fullscreen .ant-fullcalendar-value{
  text-align: center;
}
.ant-fullcalendar-fullscreen .ant-fullcalendar-column-header {
  padding-right: 12px;
  padding-bottom: 5px;
  padding-left: 10px;
  text-align: center;
}

.tools-bar{
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  background: #f5f5f5;
  li{
    list-style-type:none;
    padding: 0 10px;
    &.on{
      border-bottom: 2px solid #1890ff;
      color: #1890ff;
    }
  }
}

.calendar-box{
  display: flex;
  padding: 0;
  justify-content: space-between;
  width: 100%;
  li{
    list-style-type:none;
    display: block;
    margin: 0 4px;
    padding: 4px 0px;
    color: rgba(0, 0, 0, 0.65);
    border-top: none !important;
    transition: background 0.3s;
    padding-right: 12px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-align: center;
  }
}
.time-box{
  display: flex;
  padding: 0;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  li{
    display: flex;
    list-style-type:none;
    margin: 0 4px;
    padding: 4px 0px;
    color: rgba(0, 0, 0, 0.65);
    border-top: none !important;
    transition: background 0.3s;
    text-align: center;
    &.time-item{
      text-align: left;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }
    span{
      border-right: 1px solid rgba(0, 0, 0, 0.08);
      width: 62px;
      font-size: 12px;
    }
    ul{
      flex: 1;
    }
  }
}
.week-body{
  width: 100%;
  .calendar-box{
  }
  .time-box{
    height: 72vh;
    overflow: hidden;
    overflow-y: auto;
    flex: 1;
  }
}
