<div class="ant-fullcalendar ant-fullcalendar-full ant-fullcalendar-fullscreen">
  <div>
    <div class="ant-fullcalendar-calendar-body">
      <ul role="row" class="calendar-box">
        <li *ngFor="let day of daysInWeek"
            class="ant-fullcalendar-column-header"
            role="columnheader"
            [title]="day.title">
          <span class="ant-fullcalendar-column-header-inner">{{ day.label }}</span>
        </li>
      </ul>
    </div>
    <div #panel class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let dateMatrixItem of dateMatrixList">
          <div class="swiper-zoom-container">
            <div class="week-body">
              <ul *ngFor="let week of dateMatrixItem; index as row" class="calendar-box my-week-body">
                <li *ngFor="let day of week; index as col" class="ant-fullcalendar-cell"
                    [class.ant-fullcalendar-today]="row === currentDateRow && col === currentDateCol"
                    [class.my-calendar-selected-day]="col === activeDateCol && dateMatrixItem.panel === activeDateRow"
                    [class.ant-fullcalendar-last-month-cell]="day.rel === 'last'"
                    [class.ant-fullcalendar-next-month-btn-day]="day.rel === 'next'"
                    (click)="onDateSelect(day.value)">
                  {{ day.label }}
                </li>
              </ul>
              <ul class="time-box">
                <li *ngFor="let time of timeViewList; index as row" class="time-item">
                  <span>{{time}}</span>
                  <app-calendar-view-task [items]="dateMatrixItem.tasks | filterTask: time"></app-calendar-view-task>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
