<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title>
      新增
    </ion-title>
    <div slot="end" style="padding-right: 12px">保存</div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="date-bar">
    <div (tap)="openSelectDateModal()">17:55</div>
    <ion-icon name="arrow-dropright-circle"></ion-icon>
  </div>

  <ion-textarea placeholder="点击输入文字或语音..."></ion-textarea>
</ion-content>