.task-box{
  display: flex;
  li{
    padding: 0 3px;
    list-style-type:none;
    border-radius: 4px;
    margin-right: 4px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-left: 2px solid rgba(green, .6);
    background-color: rgba(green, .1);
    font-size: .8em;
  }
}
