<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title>
      重置密码
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid justify-content-center>
    <ion-row align-items-center class="border-bottom">
      <ion-col size="1.4" class="translateY3">
        <ion-icon name="person-add"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-input [placeholder]="'手机号码'"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row align-items-center  class="border-bottom">
      <ion-col size="1.4" class="translateY3">
        <ion-icon name="nuclear"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-input [placeholder]="'短信验证码'"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row align-items-center  class="border-bottom">
      <ion-col size="1.4" class="translateY3">
        <ion-icon name="nuclear"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-input [placeholder]="'输入新的登陆密码'"></ion-input>
      </ion-col>
      <ion-col [size]="2">
        <ion-toggle color="secondary"></ion-toggle>
      </ion-col>
    </ion-row>

    <ion-row align-items-end justify-content-end>
      <ion-col>
        <ion-button style="width: 100%;" [color]="'secondary'">确认</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>