ion-icon{
    font-size: 1.6rem;
    color: #fff;
}
a{
    color: #1abc9c !important;
}
input::-webkit-input-placeholder {
    color: #999 !important;
}

ul{
    margin: 0;
    padding: 0;
}
table{
    table-layout: fixed;
}

/*----- head component start -----*/
.head{
    padding: 12px;
    //background: var(--ion-color-primary-tint); // #40a9ff;;
    background: #36C2CF; // #40a9ff;;
    color: #fff;
    .head-box{
        display: flex;
        height: 30px;
        justify-content: space-between;
        .g-right{
            display: flex;
        }
    }
    .view-list-nav{
        //position: absolute;
        ul{
            padding: 10px 0;
            display: flex;
            justify-content: space-between;
            width: 70%;
            margin: 0 auto;
            li{
                list-style-type: none;
                &.on{
                    color: var(--ion-color-success);
                }
            }
        }
    }
}
ion-toolbar{
    --background: #36C2CF;
    color: #fff;
}
.toolbar-background{

}
.sc-ion-back-button-ios{
    color: #333 !important;
}

.ion-color.sc-ion-back-button-ios-h .button-native.sc-ion-back-button-ios{
    --ion-color-base:#222;
}

.nav{
    margin-right: 15px;
}
/*----- head component end -----*/
.inner-scroll{
    background-color: #f2f3f4;
}
.swiper-container{
    background: #fff;
}
.list-md{
    background: #f2f3f4 !important;
}