<div class="ant-fullcalendar ant-fullcalendar-full ant-fullcalendar-fullscreen">
  <div>
    <div class="ant-fullcalendar-calendar-body">
      <ul role="row" class="calendar-box">
        <li *ngFor="let day of daysInWeek"
            class="ant-fullcalendar-column-header"
            role="columnheader"
            [title]="day.title">
          <span class="ant-fullcalendar-column-header-inner">{{day.label}}</span>
        </li>
      </ul>
      <div class="calendar-body">
        <ng-container *ngFor="let dateMatrixItem of dateMatrixList;  index as row">
          <ul class="time-box" [class.ant-fullcalendar-active-week]="row === activeDateRow">
            <li>
              <ul *ngFor="let week of dateMatrixItem; index as row" class="calendar-box">
                <li *ngFor="let day of week; index as col" class="ant-fullcalendar-cell"
                    [class.ant-fullcalendar-today]="row === currentDateRow && col === currentDateCol"
                    [class.my-calendar-selected-day]="row === activeDateRow && col === activeDateCol"
                    [class.ant-fullcalendar-last-month-cell]="day.rel === 'last'"
                    [class.ant-fullcalendar-next-month-btn-day]="day.rel === 'next'"
                    (click)="onDateSelect(day.value, col)">
                  {{ day.label }}
                </li>
              </ul>
            </li>
          </ul>
        </ng-container>
      </div>
    </div>
    <div #panel class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let taskItem of taskList">
          <div class="swiper-zoom-container">
            <div class="content-body">
<!--              <div class="calendar-body" [class.calendar-day-full-size]="isDayViewFull">
                <ul *ngFor="let week of dateMatrixItem; index as row" class="calendar-box">
                  <li *ngFor="let day of week; index as col" class="ant-fullcalendar-cell">
                    {{ day.label }}
                  </li>
                </ul>
              </div>-->
              <div class="auto-content">
                <div class="time-desc" (click)="doCalendarDayViewSize()">
                  <span>{{activeDate | date: 'MM-dd'}}</span>
                  <!-- {{taskItem.date}} <span class="back-cur-day" style="float: right">今</span>-->
                </div>
                <ul class="time-box">
                  <li *ngFor="let time of timeViewList; index as row" class="time-item">
                    <span>{{time}}</span>
                    <app-calendar-view-task [items]="taskItem.tasks | filterTask: time"></app-calendar-view-task>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
