<ion-header>

  <div class="head">
    <div  class="head-box">
      <div style="display: flex">
        <ion-buttons slot="start">
          <ion-back-button color="danger"></ion-back-button>
        </ion-buttons>
        <div>列表</div>
      </div>
      <div class="g-right">
        <div class="nav">
          <ion-icon name="list" (click)="showNavListPanel()"></ion-icon>
        </div>
        <div><ion-icon name="contact"></ion-icon></div>
      </div>
    </div>
    <div *ngIf="navView" [@myInsertRemoveTrigger] class="view-list-nav">
      <ul>
        <li>列表</li>
        <li>月</li>
        <li>周</li>
        <li>日</li>
      </ul>
    </div>
  </div>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="top-bar">
    <span>自定义查询</span>
    <ion-icon name="calendar" (click)="customQuery()"></ion-icon>
    <div *ngIf="queryView" [@myInsertRemoveTrigger] class="query-date-container">
      <div class="title">仅支持查询一年内的记录</div>
      <div class="query-date-box">
        <ion-datetime [(value)]="startTime"
                      min="2018-07-14"
                      max="2020-07-14"
                      cancelText="取消"
                      doneText="确定"
                      displayFormat="YYYY-MM-DD"
                      placeholder="Select Date"></ion-datetime>
        <span> > 至 > </span>
        <ion-datetime [(value)]="endTime"
                      min="2018-07-14"
                      max="2020-07-14"
                      cancelText="取消"
                      doneText="确定"
                      displayFormat="YYYY-MM-DD"
                      placeholder="Select Date">
        </ion-datetime>
      </div>
      <div class="btn-box">
        <ion-button color="secondary" size="small" (tap)="queryTaskHandle()">查询</ion-button>
      </div>
    </div>
  </div>

<!--  <ion-button (click)="toggleInfiniteScroll()" expand="block">
    Toggle Infinite Scroll
  </ion-button>-->
  <!--<app-task-list-group></app-task-list-group>-->

  <ion-infinite-scroll (ionInfinite)="loadData($event)" threshold="150px">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="正在加载更多...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
