<ion-header>
  <div class="head">
    <div  class="head-box">
      <div>
        {{curDate | dateView}}
      </div>
      <div class="g-right">
        <div class="nav">
          <ion-icon name="list" (click)="showNavListPanel()"></ion-icon>
        </div>
        <div><ion-icon name="contact"></ion-icon></div>
      </div>
    </div>
    <div *ngIf="navView" [@myInsertRemoveTrigger] class="view-list-nav">
      <ul>
        <li (click)="toggleMode('list')" [class.on]="'list' === viewMode">列表</li>
        <li (click)="toggleMode('month')" [class.on]="'month' === viewMode">月</li>
        <li (click)="toggleMode('week')" [class.on]="'week' === viewMode">周</li>
        <li (click)="toggleMode('day')" [class.on]="'day' === viewMode">日</li>
      </ul>
    </div>
  </div>
</ion-header>

<ion-content [scrollY]="false">
  <ng-container *ngIf="isLogin; else noLoginTmp">
    <ng-container [ngSwitch]="viewMode">
      <ng-container *ngSwitchCase="'month'" [ngTemplateOutlet]="monthModeTable"></ng-container>
      <ng-container *ngSwitchCase="'week'"  [ngTemplateOutlet]="weekModeTable"></ng-container>
      <ng-container *ngSwitchCase="'day'"   [ngTemplateOutlet]="dayModeTable"></ng-container>
      <ng-container *ngSwitchCase="'list'"  [ngTemplateOutlet]="listModeTable"></ng-container>
    </ng-container>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="'list' !== viewMode">
      <ion-fab-button size="small" color="secondary">
        <ion-icon name="add"  (tap)='enterCreateTaskPage()' (press)="openRecordSound()"
                  (touchend)="stopRecordSound()"
                  (touchmove)="oneP2($event)"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ng-container>
      <div class="audio-modal" *ngIf="isAudioRecording">
        <ion-icon name="mic"></ion-icon>
        <p>保持长按开始录音</p>
        <p>{{audioText}}</p>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #noLoginTmp></ng-template>
</ion-content>

<ng-template #monthModeTable>
  <app-calendar-view (dateChange)="monthDateChangeHandler($event)"></app-calendar-view>
</ng-template>
<ng-template #weekModeTable>
  <app-calendar-view-week></app-calendar-view-week>
</ng-template>
<ng-template #dayModeTable>
  <app-calendar-view-day></app-calendar-view-day>
</ng-template>
<ng-template #listModeTable>
  <app-task-list-view-container></app-task-list-view-container>
</ng-template>
