ion-label{
  display: flex !important;
  flex-direction: column;
  margin-left: 16px;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  span{
    color: #666;
    font-size: 1rem;
    &.date{
      color: #999;
      font-size: .8rem;
    }
  }
}
ion-item{

  --color: #333;
  --inner-border-width: 0;
  position: relative;
  &:after{
    //border-bottom: 1px solid rgba(#999, .15);
    height: 1px;
    content: '';
    position: absolute;
    background-color: rgba(#999, .15);
    width: 100%;
    z-index: 11;
    bottom: 0;
  }
}
.s-ion-icon{
  color: red;
}
ion-item-sliding{
  ion-icon{
    color: #4c8dff;
  }
}

ion-list{
  padding-bottom: 46px

}
