<div class="ant-fullcalendar ant-fullcalendar-full ant-fullcalendar-fullscreen">
  <div class="ant-fullcalendar-calendar-body">
    <table class="ant-fullcalendar-table" cellspacing="0" role="grid">
      <thead>
      <tr role="row">
        <th *ngFor="let day of daysInWeek" class="ant-fullcalendar-column-header" role="columnheader" [title]="day.title">
          <span class="ant-fullcalendar-column-header-inner">{{ day.label }}</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td colspan="7">
          <div #panel class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let dateMatrixItem of dateMatrixList">
                <div class="swiper-zoom-container">
                  <table>
                    <tbody class="ant-fullcalendar-tbody">
                    <tr *ngFor="let week of dateMatrixItem; index as row"
                        [class.ant-fullcalendar-current-week]="row === currentDateRow"
                        [class.ant-fullcalendar-active-week]="row === activeDateRow">
                      <td *ngFor="let day of week; index as col" role="gridcell" class="ant-fullcalendar-cell" [title]="day.title"
                          [class.ant-fullcalendar-today]="row === currentDateRow && col === currentDateCol"
                          [class.ant-fullcalendar-selected-day]="row === activeDateRow && col === activeDateCol && dateMatrixItem.month == activeDate.getMonth()"
                          [class.ant-fullcalendar-last-month-cell]="day.rel === 'last'"
                          [class.ant-fullcalendar-next-month-btn-day]="day.rel === 'next'">
                        <div class="ant-fullcalendar-date">
                          <div (click)="onDateSelect(day.value)" class="ant-fullcalendar-value">{{ day.label }}</div>
                          <div *ngIf="day.tasks.length" class="ant-fullcalendar-content">
                            <app-calendar-view-task [items]="day.tasks"></app-calendar-view-task>
                          </div>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
